 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,700;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'poppins';
    border: none;
    outline: none;
    transition: all .3s ease;
    list-style-type: none;
}
:root{
    --black:#2c2c54;
    /* --blue :#09F8D4; */
    --blue:#2ecc71;
    --orange:#FFC300;
    --rouge:#F71E49;
    --body:#F8F9F9 ;
    --border:.1px solid rgba(0,0,0,.2);
    --shadow:1px 1px 3px rgba(0,0,0,.12),1px 1px 3px rgba(0,0,0,.23);
}
*::selection{
    background-color: var(--black);
    color: white;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7.6rem;
    overflow-x: hidden;
}
body{
    position: relative;
    background-color: var(--body);
}

/* debut pour le menu header */

.header{
    display: block;
    height: auto;
}

.header header{
    display: block;
    position: relative;
}
.header header .back{
    /* background-image: url('../img/main.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
   width: 100%;
   height: 70rem;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 10;
}
.header header .back a{
    position: absolute;
    z-index: 100;
}
/* .first_back{
    padding: 2rem 9%;
    background-color: rgba(0,0,0,.1);
    height: 20rem;
} */

.header header .back img{
    width: 100%;
    height: 100%;
    background-size: cover;
 }
 
header .first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
     border-bottom: var(--border);
}
header .first a{
    font-size: 2rem;
    color: var(--black);
    font-weight: bolder;
    text-decoration: none;
}
header .first a span{
    font-size: 5rem;
    color: var(--blue);
    font-weight: bolder;
}

header .icons {
    display: flex;
} 

header .icons a{
    display: flex;
    padding: 2rem;
    border: var(--border);
    margin: .5rem;
    text-decoration: none;
} 


header .icons a i{
    font-size: 2.5rem;
    color: var(--black);
} 
header .icons a:hover{
    background-color: var(--blue);
    border-radius: .5rem;
    transition: background-color 1s ease-in-out;
}

header .icons a:hover i{
    color: white;
}

header .first form{
    display: flex;
}

header .first form label{
    font-size: 2rem;
    border: var(--border);
    background-color: var(--blue);
    color: white;
    height: 5rem;
    line-height: 2.5;
    width: 7rem;
    text-align: center;
    cursor: pointer;
}   

header .first form #search{
    border: var(--border);
    height: 5rem;
    width: 20rem;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: .5rem;
}

header .second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
}


header .second .navBar{
    font-size: 1.5rem;
    padding: 2rem;
    display:flex;
}


header .second .navBar a{
    font-size: 1.5rem;
    padding: 1.5rem;
    text-decoration: none;
    color: var(--black);
    margin: .5rem;
    font-weight: bolder;
    border-radius: .5rem;
}
header .second .navBar a:hover{
     border: var(--border);
     background-color: var(--blue);
     color: white;
     transition: background-color 1s ease;
}

/* second navBar */

header .second .navBar_link{
    font-size: 1.5rem;
    padding: 2rem;
    display:flex;
}


header .second .navBar_link a{
    font-size: 1.5rem;
    padding: 1.5rem;
    text-decoration: none;
    color: var(--black);
    margin: .5rem;
    font-weight: bolder;
    border-radius: .5rem;
}
header .second .navBar_link a:hover{
     border: var(--border);
     background-color: var(--blue);
     color: white;
     transition: background-color 1s ease;
}
header .second .navBar_link h3{
    display: flex;
    align-items: center;
}

/* second navBar */
header #menubar{
    border: var(--border);
    border-radius: .5rem;
    padding: 3rem;
    font-size: 2rem;
    cursor: pointer;
    display:none;
}
header #menubar:hover{
    background-color: var(--blue);
    color: white;
    transition: background-color 1s ease-in-out;
}
.btn_first{
    border: .2rem solid white;
    padding: 2rem 9%;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    margin-bottom: 10rem;
}
.btn_first:hover{
    /* border: .1rem solid var(--blue); */
    background-color: var(--blue);
    color: white;
    transition: background-color .5s ease-in-out;
}

/* fin pour le menu header */

/*style pour les section debut*/

section{
    padding: 2rem;
}

/*style pour les section fin*/

/* serrvice style */

.Service{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 30%;
}
.content_service{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 20;
    height: auto;
}
.content_service .grild_service{
    position: relative;
    display: block;
    /* border-top: .3rem solid rgba(0,0,0,.2);
    border-left: .3rem solid rgba(0,0,0,.2); */
    border: .3rem solid rgba(0,0,0,.2);
    /* padding-top:2rem;
    padding-left: 2rem; */
    padding: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
    visibility: hidden;
}
.content_service .grild_service:first-child{
    height: 50rem;
}
/* #premier_serv{
    height: 70rem;
} */
.content_service  #premier_second{
    position: absolute;
    top: 10%;
    right: 0%;
    float: right;
}
.content_service .grild_service.start{
    visibility: visible;
    transition: visibility 1s ease-in;
    /* transition: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}
.content_service .grild_service .img{
    width: 40rem;
    height: 40rem;
}
.content_service .grild_service .img img{
    width: 100%;
    height: 100%;
}
.content_service .grild_service .details{
    position: absolute;
    top: 50%;
    left: 35%;
}
.content_service .grild_service .details p{
    color: white;
    font-size: 1.5rem;
}
/* mon btn */
.btn{
    display: block;
    background-color: white;
    color: var(--black);
    border: var(--border);
    padding: 2rem 9%;
    margin-top: .5rem;
    font-size: 1.5rem;
}
.btn:hover{
    background-color: var(--blue);
    color: white;
    transition: background-color 1s ease-in-out;
}
.titre{
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
}
.titre span{
    color:var(--blue);
}
.inscription{
    text-decoration: none;
    font-size: 1.5rem;
    color:var(--black);
}
/* mon btn */

/* produit style start */
.produit{
    background-color: rgba(0,0,0,.1);
    /* background-image: url('../img/main.png'); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.grilds_main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 20px;
    height: auto;
}
.grilds_main .grilds_produits{
    display: block;
    opacity: 0.2;
    position: relative;
}

.grilds_main .grilds_produits.start{
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.grilds_main .grilds_produits .img_prod{
    max-width: 45rem;
    height: 40rem;
}

.grilds_main .grilds_produits .img_prod img{
    width: 100%;
    height: 100%;
}

.grilds_main .grilds_produits .decoration{
    position: absolute;
    top: 0%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grilds_main .grilds_produits:hover .decoration{
   visibility: visible;
   transition: visibility cubic-bezier(0.19, 1, 0.22, 1);
}
.grilds_main .grilds_produits .decoration .decora{
    display: block;
}
.grilds_main .grilds_produits .decoration .decora i{
    display: block;
    padding: 2rem;
    border: var(--border);
    border-radius: .5rem;
    margin: .5rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.grilds_main .grilds_produits .decoration .decora i:hover{
    background-color: var(--blue);
    color: white;
    transition: background-color .5s ease-in-out;
}
.grilds_main .grilds_produits a{
    /* display: none; */
    visibility: hidden;
}
.grilds_main .grilds_produits:hover a{
    /* display: block; */
    visibility: visible;
}
.grilds_main .grilds_produits .details_articles{
    background-color: white;
    padding: 2rem;
    text-align: center;
    display: block;
}
.grilds_main .grilds_produits .details_articles span{
    display: block;
}
/* produit style start */

/* blog style start */

.blog_grild{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_grild .blog_grild{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 20px;
    height: auto;
}
.box_blog{
    border: var(--border);
    padding: 2rem;
    margin: .5rem;
    border-radius: 1rem;
}
.box_blog .boite{
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border);
}
.box_blog .perso{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    width: 20rem;
    height: 20rem;
}
.box_blog .perso img{
    width: 100%;
    height: 100%;
    border-radius: 10rem;
}
.box_blog .text_box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}
.box_blog .text_box p{
    font-size: 1.5rem;
}
.box_blog .atalicour{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2%;
}
.box_blog .atalicour .icon1{
    display: flex;
}

.box_blog .atalicour .icon1 i{
    display: flex;
    color: var(--orange);
    cursor: pointer;
    font-size: 1.5rem;
}


.box_blog .atalicour .icon2{
    display: flex;
}
.box_blog .atalicour .icon2 i{
    display: flex;
    color: var(--orange);
    cursor: pointer;
    font-size: 1.5rem;
}

/* blog style start */

/* footer */
  
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
       height: 35rem;
       background-color: var(--blue);
       box-shadow: var(--shadow);
       margin-top: 2rem;
    } 
    .content_ftr{
        text-align: center;
        display: block;
        background-color: var(--blue);
        padding: 1.5rem;
    }
    .content_ftr h3{
        color: white;
    }

    .footer .footer_one{
        display: block;
    }
    .footer .footer_one .code_qr{
        display: block;
        margin-top: .5rem;
    }
    .footer .footer_one .code_qr span{
        display: block;
        color: var(--black);
        font-size: 1.2rem;
        font-weight: bolder;
    }
    .footer .lo{
        background-color: white;
        padding: 2rem;
    }
    .footer .lo a{
        font-size: 2rem;
        color: var(--black);
        font-weight: bolder;
        text-decoration: none;
    }

    .footer .lo  a span{
        font-size: 5rem;
        color: var(--blue);
        font-weight: bolder;
    }

    .footer .architec {
        display: block;
    }
    .architec h3{
        border-bottom: .8rem solid white;
        text-align: center;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem;
    }
    .architec nav {
        display: block;
    }

    .architec nav a{
        display: block;
        padding: 1.5rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--black);
        border: var(--border);
        margin: .5rem;
        text-decoration: none;
        list-style-type: none;
    }
    .architec nav a:hover{
        background-color: white;
    }

    .followers h3{
        border-bottom: .8rem solid white;
        text-align: center;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem;
    }
    .followers nav{
        display: block;
    }
    .followers nav i{
        padding: 1.5rem;
        border: var(--border);
        font-size: 1.5rem;
        background-color: white;
        cursor: pointer;
        border-radius: .5rem;
    }
    .finish{
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-height: 20rem;
        background-color: white;
    }


/* footer end */



/* le responsive du code  */

@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width:900px){
    
}

@media(max-width:768px){
    /* footer */

    .footer{
        display:block;
        text-align: center;
        padding: 1.5rem;
        margin: 1rem;
        height: auto;
    } 
    /* style pour le btn menu */
    header #menubar{
        display: block;
    }

    header .second .navBar{
        position: absolute;
        left: -50%;
        top: 35%;
        display: block;
        width: 50%;
        background-color: var(--blue);
        z-index: 10000;
    }   
    header .second .navBar a{
        display: block;
        text-align: center;
        background-color: white;
    }
    header .second .navBar.active{
        left: 0;
    }

    /* style pour le btn menu */

    header .first{
        display: block;
        text-align: center;
    }

    header .first a{
        text-align: center;
    }

    header .first form #search{
        width: 100%;
    }
    .Service{
        display: block;
    }
    .content_service{
        display: block;
    }

    .produit{
        display: block;
    }
    
    .grilds_main{
        display: block;
        width: 100%;
    }
    header .icons {
        display: none;
    } 

    .blog_grild{
        display: block;
    }
    
    .blog_grild .blog_grild{
        display: block;
    }

}

@media(max-width:500px){
    html{
        font-size: 50%;
    }
}

@media(max-width:450px){
    
}